{% extends 'ins/base.html' %}




{% block js %}
    <script>
    $(document).ready(function () {
        $('.nav').hide();
        $('.testform').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/upfile',
                type: 'POST',
                cache: false,
                data: new FormData($('.testform')[0]),
                processData: false,
                contentType: false
            }).done(function(res) {alert('done')
            }).fail(function(res) {alert('fail')});

        })
    })
    </script>
{% endblock %}

{% block body %}
<form class="testform" enctype="multipart/form-data" action="" method="post">
   <input type="file" name="upfile" />
   <input type="submit" value="upload"/>
</form>
{% endblock %}