body{
	font-family: 'Microsoft Yahei';
}

.navbar-brand{
	padding:5px 15px;
}
.navbar{
	margin-bottom: 0;
}

.navbar-inverse {
    background-color: #ff722b;
    border-color: #ff722b;
}

.navbar-inverse .navbar-nav>li>a {
    color:white;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
    background-color: pink;
}

.navbar-inverse .navbar-form {
    border-color: white;
}

.navbar-inverse .navbar-collapse{
	border-color: white;
}

.btn-default {
    color: white;
    background-color: #222;

}

.jumbotron{
	background: url(../images/banner_bg.jpg);
	padding: 24px 0px;
	margin-bottom: 0;
}

.banner_title{
	margin-top: 40px;
}
@media (max-width:992px){
	.banner_title{
		margin-top: 10px;
	}
}

.banner_h3{
	margin-top: 20px;
	font-size: 18px;
	color: #ff0;
}

.jumbotron .banner_p{
	font-size: 14px;
	color: white;
	line-height: 28px;
}

.h3_2{
	font-size: 30px;
	color: #333;
	margin:32px 0 12px;
	margin-bottom: 20px;
}

.p_2{
	font-size: 14px;
	color: #333;
}

.pic_title{
	text-align: center;
	font-size: 15px;
	color: #333;

}

.thumbnail{
	max-width: 260px;
	margin:0 auto 20px;
}

.common_title{
	height: 40px;
	background-color: #ff722b; 
}

.common_title h3{
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	text-indent: 20px;
	margin: 0;
	padding: 0;
}

.common_title a{
	font-size: 12px;
	color: #fff;
	margin:12px 20px 0 0;

}

.good_show h4{
	font-size: 14px;
	text-align: center;
	color: #666;

}

.good_show p{
	font-size: 16px;
	text-align: center;
	color: #ff0000;

}

.good_show p em{
	font-size: 22px;
	font-style: normal;
}

.good_show{
	border:0.5px solid #dddddd;
	margin-top: 20px;
	border-right-color: #fff;
}

.good_list{
	margin: 0;
}

.good_list img{
	margin:0 auto;
}

.good_show:nth-child(2n){
	border-right-color: #ddd;
}

@media (min-width:768px){
	.good_show:nth-child(2n){
	border-right-color: #fff;
}
	.good_show:nth-child(3n){
	border-right-color: #ddd;
}
}

@media (min-width:992px){
		.good_show:nth-child(2n){
	border-right-color: #fff;
}
	.good_show:nth-child(3n){
	border-right-color: #fff;
}
	.good_show:nth-child(4n){
	border-right-color: #ddd;
}
}

@media (min-width:1200px){
		.good_show:nth-child(2n){
	border-right-color: #fff;
}
	.good_show:nth-child(3n){
	border-right-color: #fff;
}
	.good_show:nth-child(4n){
	border-right-color: #fff;
}
	.good_show:nth-child(6n){
	border-right-color: #ddd;
}
}